<div class="cards-container">

<article routerLink="/adminSignup" class="card">
    <img
      class="card__background"
      src="https://img.freepik.com/vecteurs-libre/illustration-concept-entreprise_114360-2581.jpg?size=338&ext=jpg&ga=GA1.1.1413502914.1714780800&semt=sph"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Business administrator</h2>
        <p class="card__description">
            Manages daily operations and ensures smooth functioning of a company.
        </p>
      </div>
    </div>
  </article>
  <article routerLink="/signup" class="card">
    <img
      class="card__background"
      src="https://img.freepik.com/photos-premium/image-entreprise_931878-367749.jpg"
      alt="Photo of Cartagena's cathedral at the background and some colonial style houses"
      width="1920"
      height="2193"
    />
    <div class="card__content | flow">
      <div class="card__content--container | flow">
        <h2 class="card__title">Candidate</h2>
        <p class="card__description">
            Individual being considered for a specific position or opportunity, undergoing evaluation for suitability.
        </p>
      </div>
    </div>
  </article>
  </div>
